repoAddress="http://repo.${DOMAIN}"
webRoot="/repo"
isoDir="ISOs"
kickstartDir="kickstarts"
vsphere_server="vsphere.${DOMAIN}"
vsphere_datacenter="datacenterName"
vsphere_compute_cluster="Production"
vsphere_datastore_cluster="storageCluster1"
vsphere_iso_datastore="isos"
vsphere_iso_DestDir="Linux"
vsphere_network="Default"
vsphere_username="userWith.vmwareAccess"
vsphere_guest_diskgb="20"
vsphere_guest_cores="4"
vsphere_guest_memory_megabytes="4096"
vsphere_guest_folder="Staging"
guestHostname="changeme.${DOMAIN}"
guestRootPassword="RootPassword Or $6 Hash"
guestAddress="x.x.x.x"
guestSubnet="255.255.255.0"
guestGateway="x.x.x.y"
guestDns="x.x.x.x,y.y.y.y"
guestTimezone="$(grep -Po '(?<=Timezone=).*' <<< $(timedatectl show))"
guestDisableIPv6="0"
